/********* Non map page *********/

.non-map-body{
    position: relative;
    background-image: linear-gradient(top, #304820, #699f41);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #7C7B7B;
}

.ui-header h1{
    background-image: url("../css/images/icon.png");
}

.download-button .ui-icon {
    background: url("../css/images/download.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}


/********* map searching *********/

#map-search-popup .ui-btn-up-a {
    background: white;
    border: none;
    text-shadow: none;
}

#map-search-popup .ui-btn-up-a:visited,
#map-search-popup .ui-btn-up-a a.ui-link-inherit {
    color: #2C3F62;
}

#map-search-spinner{
    position: relative;
    float: right;
    top: -3.4em;
    right: 0.3em;
}

#map-search-spinner img{
    height: 2.5em;
    width: 2.5em;
}

#map-search-popup ui{
    max-height: 200;
}


/********* Help *************/

#help-div .ui-btn{
    top: 2px;
    width: 6em;
    height: 80%;
}

.help-block{
    float: right;
    margin-right: 30px !important;
}

.help-content{
    padding: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.help-content img{
    max-width: 100%;
    padding: 5px;
}

.help-content img:active{
    box-shadow: none !important;
}

.help-content figcaption{
    font-style: bolder;
    font-weight: bold;
}

.help-content figure{
    text-align: center;
}

/********* Records Page *************/
#saved-records-page-header .ui-block-c{
    width: 8em;
}

#saved-records-page-header,
#saved-records-page-header h2{
    background: #699f41;
}