.non-map-body{
    position: relative;
    background-image: linear-gradient(top, #304820, #699f41);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #7C7B7B;
}

.ui-header h1{
    background-image: url("../css/images/icon.png");
}
